<%- include('partials/h.admin.ejs') %>

<div class="music-head">
    <img src="<%= music.image %>" />
    <section class="music-details">
      <div class="descrip">
        <h3><%= music.title %></h3>
        <p><%= music.name %></p>
      </div>
    </section>   
</div>

<%- include('partials/footer.ejs') %>