<%- include('../partials/h.click.ejs') %>

<h1>YOUR FAVORITE</h1>
<ul class="card-list">
  <% favorite.forEach(function(favorite){ %>
  <li class="card">
    <img src="<%= favorite.image %>" height="200px" />
    <div class="card-description">
      <a href="" class="title"
        ><%= favorite.title %></a
      ><br />
      <a href="" class="name"><%= favorite.name %></a>
    </div>
    <form id = 'favo-form' action="/favorite/<%= favorite._id %>?_method=DELETE" method="POST">
      <a href="/favorite/<%= favorite._id %>"><button class="fas fa-minus-circle"></button></a>
    </form>
  </li>
  <% }); %>
</ul>

<%- include('../partials/footer.ejs') %>
