<%- include('../partials/h.click.ejs') %>

<h1>ARTIST</h1>
<ul class="card-list">
  <% artist.forEach(function(artist){ %>
    <a href="/artistall/<%= artist.name %>" class="name">
    <li class="card">
        <img src="<%= artist.image %>" height="200px" />
        <div class="card-description">
        <a href="/artistall/<%= artist.name %>" class="name"><%= artist.name %><br/>
        </div>
    </li>
    </a>
  <% }); %>
</ul>