<%- include('../partials/h.click.ejs') %>

<h1>POPULAR NOW</h1>
<ul class="card-list">
  <% music.forEach(function(music){ %>
  <li class="card">
    <img src="<%= music.image %>" height="200px" />
    <div class="card-description">
      <a href="/homeclick/<%= music._id %>" class="title"><%= music.title %></a><br/>
      <a href="/list" class="name"><%= music.name %></a>
    </div>
  </li>
  <% }); %>
</ul>
<!-- <h1>RECENTLY</h1>s
<ul class="card-list">
	<li class="card">
		<div>
			<img src="" class="card-image" height="200px"/>
    </div>
		<div class="card-description">
			<a href="" class="title">Billkin</a><br>
      <a href="" class="name">xxxxxxxxxx</a>
    </div>
	</li>
</ul> -->

<%- include('../partials/footer.ejs') %>
