<%- include('../partials/h.click.ejs') %>

<h1>Music of artist</h1>
<% music.forEach(function(music){ %>
<div id="primary-second-section">
  <div class="most-popular-items">
    <div class="music-icon-section">
      <img src="<%= music.image %>"/>
      <i class="fas fa-caret-right"></i>
      <h2><%= music.title %></h2>
    </div>
    <div class="music-artist">
      <h2><%= music.name %></h2>
    </div>
    <div class="music-favorite">
      <% if(currentUser) { %>
      <button class="fas fa-heart favorite"></button>
      <% }%>
    </div>
  </div>
</div>
<% }); %>
<!-- <div id="primary-second-section">
  <div class="most-popular-items">
    <div class="music-icon-section">
      <img src="https://s359.kapook.com/pagebuilder/e8f8fe98-7e4c-47fc-a35a-3be3f71ed627.jpg"/>
      <i class="fas fa-caret-right"></i>
      <h2>กีดกัน</h2>
    </div>
    <div class="music-artist">
      <h2>Billkin</h2>
    </div>
    <div class="music-favorite">
      <button class="fas fa-heart favorite"></button>
    </div>
  </div>
</div> -->
<%- include('../partials/footer.ejs') %>
