<%- include('../partials/h.click.ejs') %>
<!-- <div class="music-head"> -->
<div class="image-show">
  <img src="<%= music.image %>"  width="200px">
</div>
  <!-- <section class="music-details"> -->
    <div class="descrip">
      <h3><%= music.title %></h3>
      <p><%= music.name %></p>
    </div> 
    <div class="favo">
    <% if(currentUser) { %>
      <button class="favo">MY FAVORITE</button>
    <% }%>
    </div> 
  <!-- </section> -->
  
<!-- </div> -->
<div class="card-lyrics">
  <p><%= music.lyrics %></p>
</div>

<%- include('../partials/footer.ejs') %>
