<%- include('../partials/h.click.ejs') %>
<div class="music-head">
  <img src="<%= music.image %>" />
  <section class="music-details">
    <div class="descrip">
      <h3><%= music.title %></h3>
      <p><%= music.name %></p>
    </div> 
    <div class="favo">
    <% if(currentUser) { %>
      <button class="favo">MY FAVORITE</button>
    <% }%>
    </div> 
  </section>
  
</div>
<div class="card-lyrics">
  <p><%= music.lysi %></p>
</div>

<%- include('../partials/footer.ejs') %>
